/* main styles */
body {
	margin:0;
	padding:0;
	background:#999;
  	color:#000;
	font-family:tahoma,arial,sans-serif;
	font-size:14px;
	}

.content,
.fullcontent{
	font:Arial, Helvetica, sans-serif;
}
p {
	line-height:130%;
}

h1 {
	font-size:24px;
	font-family:verdana,sans-serif;
	color:#43729F;
	margin:0 0 4px 0;
}
h2 {
	font-size:22px;
	font-style:normal;
	font-weight:normal;
	
}
h3 {
	font-size:18px;
	font-weight:bold;color:#F00;
	margin: .5em 0 
}
form {
	margin:0;
	padding:0
	}
	
img {border:none;}
a {color:#970000;text-decoration: none}
a:hover {text-decoration: underline}
input {vertical-align:middle}
.floatleft {float:left !important}
.floatright {float:right !important}
.clear {clear:both !important}
.bold {font-weight:bold !important}
.normal {font-weight:normal !important}
.block {display:block !important}
input.text,
select,
textarea {
	font-family:arial,sans-serif;
	color:#333;
	font-size:12px;
	vertical-align:middle;
	height:22px;
	}
input.text {
	padding:1px 0 0 4px;
	height:14px;
	font-weight:normal;
	}
/* main container */
#main {
	width:992px;
	margin:0 auto;
	}
/* header */
#header {
	position:relative;
	width:992px;
	height:106px;
	background:url(../images/cmstemplate/bg-header.gif) no-repeat left bottom;
	}
/* site logo */
a.logo {
	position:absolute;
	top:7px;
	left:5px;
	}
/* log in status */
#login {
	position:absolute;
	top:60px;
	left:700px;
	width:275px;
	text-align:right;
	margin:0;
	padding:0;
	list-style:none;
	font-size:12px;
	}	
#login p {
	color:#FFF;
}
#login a {
	font-weight:bold;
	color:#F00;
}

/* header tabs */
#top-navigation {
	position:absolute;
	top:60px;
	left:20px;
	margin:0;
	padding:0;
	list-style:none;
	}
#top-navigation li {
	float:left;
	margin:0 3px 0 0;
	height:34px;
	background:url(../images/cmstemplate/tab.gif) repeat-x top;
	}
#top-navigation li a {
	float:left;
	display:block;
	height:20px;
	line-height:19px;
	color:#606060;
	padding:4px 0 0 0;
	}
#top-navigation li span {
	float:left;
	background:url(../images/cmstemplate/tab-left.gif) no-repeat left top;
	}
#top-navigation li span span {
	background:url(../images/cmstemplate/tab-right.gif) no-repeat right top;
	padding:7px 10px 0 10px;
	}
#top-navigation li.active {
	padding:0;
	height:34px;
	background:url(../images/cmstemplate/tab-active.gif) repeat-x top;
	margin-right:2px;
	font-weight:bold
	}
#top-navigation li.active span {
	background:url(../images/cmstemplate/tab-active-left.gif) no-repeat left top;
	height:34px;
	}
#top-navigation li.active span span {
	background:url(../images/cmstemplate/tab-active-right.gif) no-repeat right top;
	height:23px;
	line-height:19px;
	color:#606060;
	padding-top: 9px;
	padding-right: 10px;
	padding-bottom: 0;
	padding-left: 10px;
	
	}
/* middle */
#middle {
	float:left;
	width:947px;
	background:url(../images/cmstemplate/bg-middle.gif) repeat-y left;
	padding:0 13px 0 22px;
	}
/* left column */
#left-column {
	float:left;
	padding:1px 14px 0 12px;
	width:151px;
	}
/* right column */
#right-column {
	float:right;
	padding:0 9px 0 0;
	width:165px;
	}
/* half column */
#lefthalfcolumn {
	float:left;
	padding:0 9px 0 0;
	width:300px;
	}
#rightthalfcolumn {
	float:right;
	padding:0 9px 0 0;
	width:355px;
	}
/* center column */
#center-column {
	float:left;
	width:715px;
	background:url(../images/cmstemplate/bg-center-column-735.jpg) no-repeat left top;
	min-height:584px;
	padding:12px 10px 0 20px;
	}	
* html #center-column { min-height:584px;}

/* full column */
#full-column {
	float:left;
	width:940px;
	background:url(../images/cmstemplate/bg-full-column-940.jpg) no-repeat left top;
	min-height:584px;
	padding:12px 16px 20px 20px;
	}	
* html #full-column {height:584px;}

.multibox {
	width:90%; 
	position:relative; 
	left:15px; right:15px;
	padding: 10px 25px 10px 20px; 
	border-style:solid; 
	border-radius:6px; 
	border-color:#000; 
	border-width:2px;
	background-color:#F2F2F2;
	margin:15px 0 15px 0;
	
}

/* left (now right) column styles */
#right-column a {color:#3E3E3E;}
#right-column h3 {
	font-size:12px;
	margin:0;
	color:#fff;
	background:url(../images/cmstemplate/bg-left-header.png) no-repeat left top;
	height:25px;
	line-height:23px;
	padding:0 0 0 9px;
	}
ul.nav {
	margin:0 0 11px 0;
	border-bottom:2px solid #F00;
	background:#ECEFE7;
	list-style:none;
	padding:0 2px;
	}
ul.nav li {
	padding:4px 4px 6px 5px;
	background:url(../images/cmstemplate/bg-dotted.gif) repeat-x bottom;
	}
ul.nav a {
	padding:0 0 0 12px;
	background:url(../images/cmstemplate/arrow.gif) no-repeat 0 4px;
	}
ul.nav a:hover {
	/*font-weight:bold;*/
	}
ul.nav li.last {background:none;}

#right-column .link {
	display:block;
	height:25px;
	background:url(../images/cmstemplate/bg-left-link.png);
	margin:0 0 0px 0;
	font-weight:bold;
	padding:0 0 0 9px;
	line-height:25px;
	color:#60635A;
	}
	
/* center column styles */
.top-bar {
	float:left;
	width:603px;
	border-left:2px solid #f00;
	padding:0 0 0 9px;
	margin:0 0 17px 0;
	}
/* text page header */
.top-bar h1 {
	font:22px/23px verdana,sans-serif;
	color:#43729F;
	margin:0 0 4px 0;
	}
/* orange button */
.top-bar a.button {
	float:right;
	display:block;
	width:75px;
	height:35px;
	text-align:center;
	color:#fff;
	text-transform:uppercase;
	font-weight:bold;
	line-height:27px;
	background:url(../images/cmstemplate/bg-orange-button.gif) no-repeat;
	}
	
/* bar with select */
.select-bar {
	clear:both;
	border-top:2px solid #f00;
	border-bottom:2px solid #f00;
	padding:5px 0 3px 0;
	margin:0 0 17px 0;
	}
.select-bar select {width:145px;margin:0 2px;}
/* Main content */

.fullcontent {
	float:left;
	position:relative;
	width:890px;
	margin:0 20px 5px 10px;
}

.content {
	float:left;
	position:relative;
	width:675px;
	margin:0 20px 5px 10px;
}
.rounded-borders {
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border: 2px solid #666;
	padding: 5px;
	background-color: #fff;
	
}

/* table container for pages with right navbar*/
/* table container for pages with right navbar*/

div.table {
	float:left;
	position:relative;
	margin:0 0 37px 0px;
}
div.normtable {
	width:700px;
}
div.fulltable {
	width:890px;
	margin:0 0 37px 10px;
}
div.halftable {
	width:440px;
}
	
table.listing {
	border-bottom:1px solid #9097A9;
	padding:0;
	margin:0;
	border:1px solid #9097A9;
}
table.normlisting {
	width:699px;
}
table.halflisting {
	width:439px;
}
table.fulllisting {
	width:889px;
}

table.listing th {
	border-top:0 !important;
	}
table.listing th.full {border-left:0;border-right:0 !important;text-align:left;text-transform:uppercase;}
div.table img.left {
	position:absolute;
	top:0;
	left:0;
	}
div.table img.right {
	position:absolute;
	top:0;
	right:1px;
	}
/* table styles */
table.listing td,
table.listing th {
	border:1px solid #fff;
	text-align:center;
	}	
table.listing th {
	background:#9097A9;
	color:#fff;
	padding:5px;
	}
table.listing td {
	background:#EFEFEF;
	color:#000;
	padding:3px 5px;
	}
table.listing .bg td {
	background:#ECECEC;
	}
table.listing .white td {
	background:#fff;
	}	
	
table.listing .first {border-left:0px solid #9097A9;text-align:center;}
table.listing .last  {border-right:0px solid #9097A9;}

table.listing .firstnoborder {border-right:0px}
table.listing .lastnoborder {border-left:0px}
table.listing .noborder {border-right:0px; border-left:0px}

table.listing th.first {background:#9097A9 url(../images/cmstemplate/bg-th-left.gif) no-repeat left top;border-left:0;}

table.listing th.right {background:#9097A9 url(../images/cmstemplate/bg-th-right.gif) no-repeat right top;border-right:0;}


table.listing .style1 {font-weight:bold;color:#F00;}
table.listing .style2 {font-weight:bold;padding-left:16px;}
table.listing .style3 {padding-left:25px;}
table.listing .style4 {padding-left:35px;}
table.form .last {padding:1px 0 1px 5px;text-align:left;}
table.form th,
table.form td {padding-left:10px;}
table.form input.text {width:50px}

/* table select */
div.table .select {
	float:right;
	margin:2px 1px 0 0;
	width:176px;
	height:25px;
	background:#9097A9 url(../img/bg-select.gif);
	color:#fff;
	}
div.table .select strong {
	float:left;
	padding:5px 0 0 5px;
	}	
div.table .select select  {
	float:right;
	width:78px;
	margin:2px 3px 0 0;
	text-align:right;	
	}
	
/* right column header */
#right-column .h {
	float:left;
	background:#7E878A;
	border:1px solid #B8B8B8;
	border-bottom:0;
	padding:3px 10px;
	color:#fff;
	text-transform:uppercase;
	}
/* right column box */
#right-column .box {
	float:left;
	width:150px;
	padding:5px;
	border:1px solid #B8B8B8;
	background:#EBEBEB;
	margin:0 0 15px 0;
	}
	
/* right column buttons */
.buttons {
	clear:both;
	text-align:center;
	padding:30px 0 15px 0;
	}
.buttons input {margin:0 0 6px 0;}

/* CSS3 Buttons Without Images */

button {
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-moz-box-shadow:0px 0px 2px rgba(0,0,0,0.4);
	-webkit-box-shadow:0px 0px 2px rgba(0,0,0,0.4);
	box-shadow:0px 0px 2px rgba(0,0,0,0.4)
	

	color:rgba(0,0,0,0.9);
	text-shadow:1px 1px 0px rgba(255,255,255,0.8);
	border:1px solid rgba(0,0,0,0.5);
	
	background:-webkit-gradient(linear,0% 0%,0% 100%,from(rgba(255,255,255,1)),to(rgba(185,185,185,1)));
	background:-moz-linear-gradient(top,rgba(255,255,255,1),rgba(185,185,185,1));
	font-weight:bold;

	padding:5px 5px 5px 5px;
}

button:hover {
	background:rgba(240,240,240,1);
}

button:active, button:focus {
	background:-webkit-gradient(linear,0% 100%,0% 0%,from(rgba(255,255,255,1)),to(rgba(185,185,185,1)));
	background:-moz-linear-gradient(bottom,rgba(255,255,255,1),rgba(185,185,185,1));
}

button:disabled {
	color:rgba(0,0,0,0.4);
	text-shadow:1px 1px 0px rgba(255,255,255,0.5);
	background:rgba(220,220,220,1);
}

/* ================================ */

label {
    display: inline;
}
 
.regular-checkbox {
    display: none;
}
 
.regular-checkbox + label {
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
	padding: 10px;
}
 
.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
 
.regular-checkbox:checked + label {
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: #99a1a7;
}
 
.regular-checkbox:checked + label:after {
    content: '\2714';
    font-size: 22px;
	
    position: absolute;
    top: -5px;
    left: 3px;
    color: #99a1a7;
}
 
.big-checkbox + label {
    padding: 18px;
}
 
.big-checkbox:checked + label:after {
    font-size: 28px;
    left: 6px;
}
 
.tag {
    font-family: Arial, sans-serif;
    width: 200px;
    position: relative;
    top: 5px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    float: left;
}